@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

@layer utilities{
    .section-min-height{
        min-height: calc(100vh - 68px) ;
    }

    .toggle-btn{
       @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 
       [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent
    }
}